//bristow.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.5682f73e-d196-4988-9a5b-00681c35d090/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
registry=https://bristow.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.5682f73e-d196-4988-9a5b-00681c35d090/contents/release/npm/
omit-lockfile-registry-resolved=true
